/* Bottom left text */
.bottom-left {
	position: absolute;
	bottom: 3px;
	left: 16px;
}
.see-more{
	color: #EF1B27FF;
}
.see-more:hover{
	color: #f24049;
}
.zoom {
	transition: transform 1s;
}
.zoom:hover {
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.1); 
}