


/*common*/


	body{
		font-family: 'Lato';
	}

	.rotate_270{
		transform: rotate(270deg);
	}

	.outline-red{
		outline: dotted maroon 1px;
	}

	.outline-blue{
		outline: solid skyblue 1px;
	}

	.outline-orange{
		outline: dashed orange 1px;
	}

	.text-blue{
		color: #021f3f;
	}

	.text-blue :hover{
		color: #354f5f;
	}
/*common*/

/*navigation bar*/
	.nav_container{
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.nav_item_container{
		margin-right: auto;
		margin-left: auto;
	}

	.nav_link_mod{
		color: white;
		transition: 0.5s;
	}

	.nav_link_mod:hover{
		color: rgb(200, 200, 200);
	}

	#top_logo_wrapper{
		display: block;
		width: 8%;
		border: solid white 2px;
		background-color: white;
	}

	.top_logo{
		display: block;
	}
/*navigation bar*/

/*home*/
	.banner_image_container{
		position: absolute;
		top: 0;
		z-index: -15;
		height: 700px;
		overflow: hidden;
	}

	.banner_overlay{
		background: rgba(0, 10, 20, 0.40);
		position: absolute;
		top: 0;
	}

	.banner_company_desc{
		margin-top: 4.5%;
	}

	.main_company_desc{
		font-family: 'Lato';
		color: white;
		font-size: 1.5rem;
		letter-spacing: 1px;
		font-weight: 300;
	}

	.short_company_desc{
		color: white;
		width: 60%;
		margin-right: auto;
		margin-left: auto;
	}

	.banner_quick_inquiry_form{
		background: rgba(0, 10, 20, 0.8);
	}

	.banner_scroll_btn_container{
		margin-top: 13.5%;
	}

	.scroll_down_btn{
		animation-name: wiggle;
		animation-duration: 0.8s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-out-in;
	}

	.banner_vdivider_container{
		position: relative;
		margin-top: -5%;
	}

	.property_care_container{
		margin-top: -10px;
	}

	.property_label{
		font-size: 55px;
		letter-spacing: -2px;
	}

	.care_container{
		padding-top: 8px;
		width: 250px;
	}

	.categories_container{
		margin-top: 6%;
		margin-left: 7%;
		margin-right: 7%;
		margin-bottom: 8%;
	}

	.category_card{
		padding: 0 3% 0 3%;
	}

	.category_icon_container{
		width: 110px;
		margin-right: auto;
		margin-left: auto;
	}

	.category_title{
		letter-spacing: 0.5px;
		font-size: 18px;
	}

	.category_label_first_letter{
		color: #021f3f;
		font-weight: 800;
		font-size: 25px;
	}

	.learn_more_btn{
		color: #009637;
		cursor: pointer;
		opacity: 0;
	}

	.learn_more_circle{
		border: solid #009637 1px;
		border-radius: 100%;
		width: 20px;
		height: 20px;
		font-size: 17px;
		text-align: center;
		color: inherit;
	}

	.learn_more_btn:hover{
		text-decoration: none;
		color: #009637;
	}

	.our_commitment_container{
		padding-right: 5%;
		padding-left: 3%;
		margin-left: 5%;
		margin-right: 6%;
	}

	.our_commitment{
		position: relative;
		display: block;
		float: right;
		color: #021f3f;
		top: 160px;
		left: 150px;
		right: auto;
		font-size: 35px;
		white-space: nowrap;
		font-weight: 700;
		font-family: 'Arial Black';
		transform: rotate(270deg);
	}

	.our_commitment_img{
		height: 400px;
		overflow-y: hidden;
	}

	.service_excellence_container{
		padding-right: 12%;
		padding-left: 16%;
		margin-top: 1%;
		color: #555;
		margin-bottom: 5%;
	}

	.service_excellence_title{
		font-size: 150%;
	    font-family: 'Lato';
	    font-weight: 400;
	}

	.services_learn_more{
		color: #009637;
		font-weight: 800;
		letter-spacing: 1px;
	}

	.services_learn_more:hover {
		text-decoration: none;
		color: #00bb00;
	}

	.service_excellence_gif{
		width: 45%;
		margin-bottom: 10px;
	}

	@keyframes wiggle{
		0%{
			transform: rotate(0deg);
		}
		25%{
			transform: rotate(-10deg);
		}
		50%{
			transform: rotate(20deg);
		}
		75%{
			transform: rotate(-10deg);
		}
		100%{
			transform: rotate(0deg);
		}
	}
/*home*/

/*footer*/
	footer{
		background: #DB291D;
		color: white;
	}

	.footer_nav{
		list-style-type: none;
		margin: 0;
		padding: 2%;
	}

	.foot_nav_item{
		display: inline;
		margin-left: 1%;
		margin-right: 1%;
		padding: 0;
	}

	.foot_nav_link:hover{
		text-decoration: none;
		color: grey;
		transition: 0.4s;
	}

	.foot_nav_link{
		color: white;
	}

	.copyright_container{
		margin: 0;
		margin-top: 1%;
		padding-bottom: 2%;
	}

	.footer_copyright{
		margin: 0;
	}
/*footer*/





/*@media*/

	/*navigation bar*/
	@media (max-width: 993px) {
		.nav_item_container{
			margin-right: auto;
			margin-left: 1%;
		}
	}
	/*navigation bar*/

	/*iPad Pro*/
	@media (max-width: 1024px) {
		/*Navigation Bar*/
			#top_logo_wrapper{
				width: 10%;
			}
		/*Navigation Bar*/

		/*Home*/
			.banner_image_container{
				height: 630px;
			}

			.our_commitment_container{
				padding-left: 4.5%;
			}
		/*Home*/
	}
	/*iPad Pro*/

	/*iPad*/
	@media (max-width: 768px) {
		/*Navigation Bar*/
			.nav_container{
				margin-bottom: 0px;
			}
		/*Navigation Bar*/

		/*Home*/	
			.banner_image_container{
				height: 520px;
			}

			.banner_scroll_btn_container{
				margin-top: 15%;
			}

			.our_commitment_container{
				padding-left: 7%;
			}

			.short_company_desc{
				width: 70%;
			}
		/*Home*/
	}
	/*iPad*/

	/*mobile phones*/
	@media (max-width: 500px){
		/*Navigation Bar*/
			#top_logo_wrapper{
				width: 25%;
			}
		/*Navigation Bar*/

		/*Home*/
			.banner_image_container{
				height: 690px;
			}

			.banner_scroll_btn_container{
				margin-top: 42%;
			}

			.categories_container{
				text-align: center;
			}

			.category_icon_container{
				margin-left: auto;
				margin-right: auto;
			}

			.our_commitment_container{
				padding-right: 3%;
				padding-left: 3%;
				margin-left: auto;
				margin-right: auto;
			}

			.our_commitment{
				float: none;
				color: #021f3f;
				top: auto;
				left: auto;
				right: auto;
				font-size: 100%;
				transform: rotate(0deg);
				text-align: center;
			}

			.our_commitment_img{
				height: 150px;
			}

			.service_excellence_container{
				padding-right: 7%;
				padding-left: 7%;
			}
		/*Home*/

		/*Footer*/
			.footer_nav{
				padding: 4%;
			}

			.footer_copyright{
				text-align: center;
			}
		/*Footer*/
	}
	/*mobile phones*/

	/*xs mobile phones*/
	@media (max-width: 400px){
		/*Home*/	
			.banner_image_container{
				height: 713px;
			}

			.banner_scroll_btn_container{
				margin-top: 52%;
			}

			.main_home_banner{
				width: 110%;
			}

			.property_label{
				font-size: 30px;
			}

			.care_container{
				width: 150px;
			}
		/*Home*/
	}
	/*xs mobile phones*/

	/*iphone 5/SE*/
	@media (max-width: 320px){
		/*Home*/	
			.banner_image_container{
				height: 650px;
			}

			.short_company_desc{
				padding: 0;
				margin-left: 0;
				margin-right: 0;
				padding-left: 5%;
				padding-right: 5%;
				width: 100%;
			}

			.main_home_banner{
				width: 120%;
			}
		/*Home*/
	}
	/*iphone 5/SE*/

/*@media*/